# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# All build files
*/build/*
comps/planning/herb2ikfast/CMakeFiles/*
comps/planning/herb2ikfast/CMakeCache.txt
comps/planning/herb2ikfast/Makefile
comps/planning/herb2ikfast/cmake_install.cmake
comps/planning/herb2ikfast/install_manifest.txt
comps/planning/manipulation2/build/CMakeCache.txt

# Remove all python compile files
*.pyc

